
{% extends 'base.html' %}
{% block body %}
  <section class="header">
    <h2 class="title">Amazon Product Reviews</h2>
  </section>
  <hr />
  <div class="content">
    <form method="POST">
      {{ form.hidden_tag() }}
      {{form.category.label}}  {{form.category()}}
      {{ form.review.label}} {{ form.review(cols='100',rows='100')}}
      <div class="row">
        <button type="submit" class="button-primary">Submit</button>
      </div>
     </form>
    {% if prediction %}
      <div class="row">
        <img src="{{url_for('static', filename='images/' + prediction + '.jpeg')}}"
            height="100"
        /> 
        <br />
        The predicted probability is : <p style="color:red;">{{ prob }} %.</p>
        <div class="six columns">
         <!--  Your Chart or any other form of visualizations -->
         <div id="chart"></div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock body %}

{% block js %}
  <script type="text/javascript">
  // your JS Code
  // Your D3 code could be here
  </script>
{% endblock js %}
